@charset "utf-8";
/* CSS Document */


/* TITLE BAR */
.class-title-bar {
	
	height: 75px;
	box-shadow: 0px 2px 5px #222222;
	
	display: flex;
	flex-direction: row;
	align-content: center;
	
	background-color: #16966A;
	color: white;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	overflow: hidden;
	
}

.class-title {
	padding-left: 35px;
	padding-right: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	
	font-size: 45px;
	text-shadow: 1.5px 1.5px 2px BLACK;
}

.class-id {
	padding-left: 10px;
	padding-right: 50px;
	flex:1;
	line-height: 75px;
	color: #D1D1D1;
	font-size: 22px;
	text-shadow: 1px 1px 2px BLACK;
}

.btn-container{
	line-height: 75px;
	margin-right: 50px;
}

.btn-utility {
	cursor: pointer;
	height: 25px;
	width: 150px;
	margin-left:20px;
	
	background-color: #222222;
	border: none;
	border-radius: 10px;
	
	box-shadow: 3px 3px 2px #080808; 
	
	color: white;
	font-size: 15px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}

.btn-utility:hover, .btn-new-session:hover, .btn-session:hover {
	background-color: #010101;
	color:#B9B9B9;
}

.btn-utility:active, .btn-new-session:active, .btn-session:active {
	background-color: #010101;
	color:#B9B9B9;
	box-shadow: none;
	transform: translate3d(3px,3px,0px);
}


.overhead-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	
	padding-top: 20px;
	
}

/*SESSIONS*/


.session-container {
	margin-top: 15px;
	margin-bottom: 50px;
	margin-left: 40px;
	margin-right: 40px;
	width: 800px;
	
	font-size: 25px;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	color: #222222;
	
	display: flex;
	flex-direction: column;
	
}

.session-container h1{
	font-size: 30px;
	font-weight: 500;
	
}

.session-container hr {
 	border-color: #C6C6C6;
 	border-style: solid none;
 	border-width: 1.5px 0;
	
	width: 100%;
 	margin-top: 0px;
 	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
  
}

.session-header{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.session {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5px;
}

.session a{
	flex: 1;
	margin-right: 0px;
	margin-top: 0px;
	padding-right: 20px;
	
	color: black;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


.btn-session {
	cursor: pointer;
	height: 25px;
	width: 150px;
	margin-bottom: 0px;

	background-color: #222222;
	border: none;
	border-radius: 0px;
	
	box-shadow: 3px 3px 2px #080808; 
	
	color: white;
	font-size: 15px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}


.btn-new-session {
	cursor: pointer;
	height: 25px;
	width: 175px;
	margin-bottom: 2px;
	
	margin-left: 20px;
	
	background-color: #222222;
	border: none;
	border-radius: 0px;
		
	box-shadow: 3px 3px 2px #080808; 
	
	color: white;
	font-size: 15px;
	line-height: 25px;
	font-family: 'Roboto', sans-serif;
}


/*ARCHIVE*/

.archive-container{
	margin-top: 15px;
	margin-left: 40px;
	margin-right: 40px;
	width: 800px;
	
	font-size: 17px;
	font-family: 'Barlow', sans-serif;
	font-weight: 400;
	color: #222222;
	
	display: flex;
	flex-direction: column;
}


.archive-container h1{
	font-size: 30px;
	font-weight: 500;
	flex:1;
}

.archive-container hr {
 	border-color: #C6C6C6;
 	border-style: solid none;
 	border-width: 1.5px 0;
	
	width: 100%;
 	margin-top: 0px;
 	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 10px; 
}

.archive-container select{
	height: 27px;
}

.archive-container p{
	margin-right: 6px;
	transform: translateY(30%);
}

.archive-header{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.archive-entry {
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	
	display: flex;
	align-items: center;
}

.archive-entry a{
	flex: 1;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-right: 20px;
	
	color: black;
	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.archive-date {
	font-size: 17px;
	width: 120px;
	color:#A5A5A5;
	text-align: center;
}

.btn-menu {
	width: 20px;
	height: 20px;
	
	background-color: white;
	
	background-image: url(../images/menu.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	
	border: none;
	
	
}

.btn-menu:hover, .btn-menu:active, .btn-menu:focus {
	background-image: url(../images/menuHover.png);
}

.btn-delete {
	cursor: pointer;
	height: 20px;
	width: 20px;
	
	margin-left: 10px;
	margin-top: 0px;

	border:none;
	background-image: url(../images/deleteClass.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
}

.btn-delete:hover, .btn-delete:active {
	background-image: url(../images/deleteClassHover.png);
}

.blank-entry {
	flex:1;
	
	display: flex;
	align-content: center;
	justify-content: center;
	
	margin-top: 15px;
	padding: 0px;
	
	font-size: 20px;
	color: #A7A7A7;
}
